.custom-navbar {
  background-color: #C8102E; /* red */
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: #fff; /* white text */
}

.custom-navbar .nav-link:hover {
  color: #FFD700; /* gold hover */
}
